    <!-- place footer content here -->
    <script src="{{ site.url }}/js/test-data.js"></script>
    {% if page.layout == 'trail-layout' %}
      <script src="{{ site.url }}/js/hansel.v0.2.js"></script>
    {% else %}
      <script src="{{ site.url }}/js/hansel.js"></script>
      <script src="{{ site.url }}/js/image-handler.js"></script>
    {% endif %}
    <script src="{{ site.url }}/js/main.js"></script>
    <!-- note, this api key will need to be changed to a client key for final release -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAy4BD0O5uoB7k81AgPHCePkj9Lf1A9DQ8"></script>
  </body>
</html>